Makefile
Makefile.in
configure
configure.scan
build/
autom4te.cache/
.deps/
*.o
*~
\#*\#
aclocal.m4
config.h
config.h.in
config.log
config.status
*.tar.xz
*.tar.gz
i3help

compile
config.guess
config.sub
depcomp
install-sh
missing
